/Meta-Llama-3-8B-Instruct-Q3_K_M.gguf
/Meta-Llama-3-8B-Instruct-Q3_K_M.gguf:Zone.Identifier
/main.py
/main1.py
/main3.py
/mistral-7b-instruct-v0.2.Q4_K_S.gguf
/mistral-7b-instruct-v0.2.Q4_K_S.gguf:Zone.Identifier
models/llama-2-7b-chat.ggmlv3.q2_K.bin
models/llama-2-7b-chat.ggmlv3.q2_K.bin:Zone.Identifier
